@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.container{
    background-image: url(./Media/bg-5.png);
    background-size: contain;
    overflow: hidden;
    height: 200vh;
}
nav{
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}
ul{
    display: flex;
    color: white;
    /* text-decoration: none; */
}
ul > a > li{
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 18.1pt;
    margin: 0px 50px;
    font-weight: 600;
    transition: 100ms ease;
}

ul > a{
    text-decoration: none;
}

.main-panel{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}
.mid-main{
    width: 35%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: white;
    padding-top: 50px;
}
.side-main{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
    background-color: #ffa300;
    border-radius: 20px;
    /* justify-content: center; */
}
img[src="./Media/arrow-left.png"]{
    width: 70px;
    margin-top: 20px;
}
img[src="./Media/arrow-right.png"]{
    width: 70px;
    margin-top: 20px;
}
img[src="./Media/2.png"]{
    width: 600px;
}
img[src="./Media/1.png"]{
    width: 630px;
}
h1{
    font-size: 43.8pt;
    font-weight: 300;
    letter-spacing: 10pt;
}
h2{
    font-size: 80pt;
    position: relative;
    bottom: 42px;
}
h3{
    font-size: 94pt;
    color: #ffa300;
    position: relative;    
    bottom: 110px;
}
.mid-main > p{
    text-align: center;
    font-size: 12pt;
    font-weight: 600;
    position: relative;    
    bottom: 100px;
    width: 90%;
}
.mid-main > button{
    background-color: transparent;
    padding: 20px 50px;
    color: #ffa300;
    border: solid #ffa300 5px;
    border-radius: 10px;
    position: relative;
    bottom: 60px;
    right: 7px;
    font-size: 22px;
    font-weight: 800;
    cursor: pointer;
    transition: 100ms ease-in-out;
}
.mid-main > button:hover{
    background-color: #ffa300;
    /* padding: 20px 50px; */
    color: #000000;
    border: solid #000000 5px;
}
nav > ul > a > li:hover{
    color: #ffa300;
}